/* text */

.quicksand-uniquifier {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.parkinsans-uniquifier {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.container-fluid {
  padding: 3% 15%;
}


#title {
    background-color:rgb(255, 210, 218);
}

h1 {
    font-family: 'Parkinsans', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
  font-family: 'Parkinsans';
  font-weight: bold;
}

p {
  color: grey;
}

h2 {
 font-family: 'Parkinsans';
 font-weight: bold;
 font-size: 1.5rem;
}



/* Navigation bar */
.navbar { 
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Quicksand';
  font-size: 3.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Parkinsans', sans-serif;
  font-size: 1.5rem;
}


/* Download Buttons*/

.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}


/* Features */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: rgb(195, 90, 195);
  padding-bottom: 1rem;
}

.icon:hover {
  color: lightblue;
}

/* Testimonials */ 

#testimonials {
  text-align: center;
  background-color: rgb(255, 210, 218);
} 

.testimonilas-image {
  width: 20%;
  border-radius: 50%;
  margin: 10px;
}


.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: rgb(255, 210, 218);
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
padding: 100px;
}

.pricing-header {
  h2 {
    color: black;
  }
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

/* Call to Action*/
#cta {
  background-color: rgb(255, 210, 218);
  color: rgb(213, 117, 133);
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}


/* Footer */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-social-icon {
  padding: 1rem;
  size: 40px;
}

/* Media Querey */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}